 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!--<hr class="star-light">-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We use modern manufacturing techniques to cut the raw materials into highly-precise and detailed components. We then package this with instructions, tools, fixings, glues and sealants to provide the customer with all they need to construct their own piece of designer furniture. .</p>
                </div>
                <div class="col-lg-4">
                    <p>We also invite designers to submit their designs if they would like to have another income stream, or make their products available in a market that would otherwise not be accessible. The agreements are non-exclusive so the designer may also license their design to other producers. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
